<div class="board-container" >
  <div class="board-overlay" ng-show="game.showOverlay">
    <div ng-show="game.showWinnerMessage">
      <div class="winner-text">
        <h1 ><span>{{game.winner.name}}</span><span> Wins!</span> </h1> 
        <button ng-click="game.restart(game)">Restart</button>
      </div>
    </div>
    <div ng-show="game.showDrawMessage">
      <div class="winner-text">
        <h1 ><span> Draw!</span> </h1> 
        <button ng-click="game.restart(game)">Restart</button>
      </div>
    </div>
  </div>
  <div class="board-pic" ng-show="game.showOverlay"></div>
  <table>
  <tr ng-repeat="row in game.gameBoard" >
    <td ng-mouseover="game.columnHover(game,$index)" ng-repeat="column in row track by $index" ng-class="column.color ? column.color : 'white' "ng-click="game.columnSelected(game,$index)"></td>
  </tr>
 </table>
</div>